.dark-color-bg {
  background-color: #0f2c6c ;
}
.dark-color {
  color: #0f2c6c ;
}
.light-color-a{
  color: #538cb1;
}
.dark-button{
    background-color: #003366;
}
.bolder{
    font-weight: bolder;
}
